[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
flask-restx = "==0.2.0"

[scripts]
unittests = "python -m unittest discover"
local = "python run_local.py"
hosted = "python run_hosted.py"

[requires]
python_version = "3.7"
