body, html {
  height: 100%;
  width: 100%;
}

.ec_device {
  background-color: rgb(83, 164, 81)
}

.do_device {
  background-color: rgb(246, 194, 68) 
}

.orp_device {
  background-color: rgb(47, 125, 247) 
}

.ph_device {
  background-color: rgb(203, 68, 75)
}

.rtd_device {
  background-color: rgb(110, 117, 124)
}